.movie-footer {
  margin-top: 80px;
  background: linear-gradient(to right, #ec4899, #3b82f6);
  color: white;
  border-radius: 30px 30px 30px 30px;
  padding: 50px 40px 25px;
  margin: 15px;
  /* width: 98%; */

}


.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
}


.footer-brand h2 {
  margin: 10px 0;
}

.footer-brand p {
  font-size: 14px;
  opacity: 0.9;
}

.footer-icon {
  font-size: 34px;
}


.footer-links h4 {
  margin-bottom: 12px;
  font-size: 17px;
}

.footer-links a {
  display: block;
  text-decoration: none;
  color: white;
  opacity: 0.85;
  margin-bottom: 6px;
  font-size: 14px;
}

.footer-links a:hover {
  opacity: 1;
  text-decoration: underline;
}


.footer-bottom {
  margin-top: 35px;
  padding-top: 20px;
  border-top: 1px solid rgba(255,255,255,0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-social {
  display: flex;
  gap: 18px;
  font-size: 20px;
  cursor: pointer;
}

.footer-social svg:hover {
  transform: scale(1.2);
  transition: 0.2s;
}


@media(max-width:600px){
  .movie-footer{
    padding: 35px 20px;
  }
  .footer-bottom{
    justify-content: center;
    gap: 15px;
  }
}
