.home {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.movie-card {
  width: 280px;
  background: linear-gradient(to right,#ec4899,#3b82f6);
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,.4);
}

.movie-card img {
  width: 100%;
  border-radius: 15px;
}

.movie-card button {
  margin-top: 10px;
  padding: 8px 20px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
