
.navbar {
  width: 90%;
  min-height: 80px;
  margin: 15px auto;
  padding: 0 25px;
  background: linear-gradient(to right, #ec4899, #3b82f6);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  box-sizing: border-box;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
  white-space: nowrap;
  margin-left: 9px;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #e5e7eb;
}

.nav-buttons {
  display: flex;
  gap: 2px;
}

.sighup-login-btn {
  padding: 6px 18px;
  border-radius: 14px;
  border: none;
   background: #e5e7eb;
  color: black;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 4px 4px 0 black;
  transition: 0.2s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
}

.sighup-login-btn:active {
  box-shadow: none;
  transform: translate(2px,2px);
}
.logout-btn {
  padding: 6px 18px;
  border-radius: 14px;
  border: none;
  background: #f52d05;
  color: rgb(255, 254, 254);
  font-weight: 600;
  cursor: pointer;
  box-shadow: 4px 4px 0 black;
  transition: 0.2s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
}

.logout-btn:active {
  box-shadow: none;
  transform: translate(2px,2px);
}

@media (max-width: 700px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    height: auto;
  }

  .nav-links {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  .nav-buttons {
    width: 100%;
    justify-content: center;
  }

  .logout-btn {
    padding: 6px 16px;
    font-size: 16px;
  }
}
